@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
/* --- Colors --- */
/* --- Fonts --- */
/* --- Breakpoints --- */
/* --- Bezier Curves --- */
/* --- Miscellanious --- */
/*
* This is the smallest unit for component layout. Keep all margins, paddings,
* font sizes, etc. as a multiple of this value.
*/
/* Responsive breakpoint manager
*
* @param {Number} $breakpoint -> minimum width for media query
* @requires $breakpoints-* from _settings.scss
*/
/*
* This file is a factory reset of default
* CSS settings.
*
* All default padding and margin values are
* reset for all elements.
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #494949; }

/*
* This file overrides default browser styles for
* (non-class) elements in this project.
*/
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  color: #494949; }

h1 {
  font-size: 40px; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 64px; } }

h2 {
  font-size: 24px; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 40px; } }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 24px; } }

p {
  font-family: "Open Sans", sans-serif;
  color: #494949;
  line-height: 1.7em; }

table, td, th {
  border-collapse: collapse;
  text-align: center; }

td, th {
  padding: 8px; }

a {
  text-decoration: none;
  color: #494949; }

pre {
  background: #494949;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 24px 48px;
  overflow-x: scroll; }

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  line-height: 1.4em; }

ul, ol {
  margin-left: 40px; }

button {
  border: none; }

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 48px;
  background: #3498DB;
  border-radius: 8px;
  position: relative; }

blockquote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 48px;
  background: #f1f1f1;
  border-radius: 8px; }

.nav {
  position: fixed; }
  @media only screen and (min-width: 768px) {
    .nav {
      left: 48px; } }

.navbar {
  position: fixed;
  left: 0; }

.note {
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh; }
  @media only screen and (min-width: 768px) {
    .note {
      display: grid;
      grid-template-columns: 48px 1fr 8px 24px 480px 32px 1fr 48px; } }
  @media only screen and (min-width: 1280px) {
    .note {
      grid-template-columns: 48px 80px 400px 80px 1fr; } }

.note__header {
  grid-column: 3;
  margin-top: 40px;
  margin-bottom: 32px; }
  @media only screen and (min-width: 768px) {
    .note__header {
      grid-column: 5;
      margin-top: 88px;
      margin-bottom: 80px; } }
  @media only screen and (min-width: 1280px) {
    .note__header {
      position: fixed;
      left: 10vw;
      width: 500px;
      margin: 0;
      top: 26%; } }

@media only screen and (min-width: 768px) {
  .note__title {
    margin-bottom: 56px; } }

.note__desc {
  display: none; }
  @media only screen and (min-width: 768px) {
    .note__desc {
      display: flex;
      align-items: flex-end; } }

.class__desc {
  width: 176px; }

.note__number {
  margin-left: auto; }

.content {
  grid-column: 3;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .content {
      grid-column: 5;
      margin-bottom: 26vh; } }
  @media only screen and (min-width: 1280px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 480px 1fr;
      margin-top: 26vh; }
      .content * {
        grid-column: 2; } }

.progress {
  position: fixed;
  right: 0;
  top: 0; }

.nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; }
  @media only screen and (min-width: 768px) {
    .nav {
      width: 0;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); } }

.nav--active {
  width: 336px; }

.nav__content {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 60%; }
  .nav__content ul {
    overflow-y: scroll; }

.nav__link {
  width: 100%;
  display: flex;
  align-items: baseline;
  color: #f1f1f1;
  margin-bottom: 16px;
  position: relative; }
  .nav__link:last-child {
    margin-bottom: 0; }
  .nav__link:hover {
    color: #494949; }
    .nav__link:hover:before {
      content: '';
      position: absolute;
      left: -16px;
      width: 4px;
      height: 100%;
      background: #3498DB; }

.link__number {
  font-family: 'Ubuntu Mono';
  font-size: 20px;
  font-weight: 700;
  height: 20px;
  color: inherit; }

.link__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: inherit;
  margin-left: 8px; }

.nav__title {
  font-size: 40px;
  margin-bottom: 56px; }

.nav__class {
  position: relative;
  color: #3498DB; }
  .nav__class:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    height: 6px;
    background: #494949;
    width: 100%; }

.navbar {
  height: 100vh;
  width: 48px;
  display: none;
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
  @media only screen and (min-width: 768px) {
    .navbar {
      display: block; } }

.link {
  color: #3498DB;
  position: relative; }
  .link:after {
    content: '';
    background: #3498DB;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: scaleX(0); }
  .link:hover:after {
    transform: scaleX(1); }

.content {
  font-size: 18px;
  line-height: 1.618;
  padding-bottom: 56px; }
  .content > * {
    margin-bottom: 20px; }
    .content > *:last-child {
      margin-bottom: 0; }

.note__subtitle {
  position: relative;
  margin-top: 20px; }
  .note__subtitle:before {
    content: '';
    background: #3498DB;
    position: absolute;
    height: 100%;
    width: 8px;
    left: -40px; }
  @media only screen and (min-width: 768px) {
    .note__subtitle {
      margin-top: 60px; }
      .note__subtitle:before {
        left: -32px; } }
  @media only screen and (min-width: 1280px) {
    .note__subtitle {
      margin-bottom: 40px; }
      .note__subtitle:before {
        width: 35px;
        height: 8px;
        left: 0;
        top: -12px; } }
  .note__subtitle:first-child {
    margin-top: 0; }

.section__subtitle {
  margin-top: 30px; }

.class__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative; }
  .class__desc:before {
    content: '';
    background: #3498DB;
    position: absolute;
    height: 2px;
    width: 24px;
    left: 0;
    bottom: -4px; }

.note__number {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700; }

.quote__title {
  margin-bottom: 8px;
  border-bottom: 3px solid #494949;
  padding-right: 32px;
  font-weight: 700; }

.progress {
  background: #3498DB;
  width: 100vw;
  height: 5px; }
  @media only screen and (min-width: 768px) {
    .progress {
      height: 100vh;
      width: 12px; } }

.linked-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  margin: 20px 0 40px 0; }

.node {
  width: 48px;
  height: 48px;
  border: 3px solid #3498DB;
  display: flex;
  color: #3498DB;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 30px; }
  .node:after {
    content: '⟶';
    height: 100%;
    width: 12px;
    border: inherit;
    border-left: none;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 41px;
    top: -3px; }
  .node--head:before {
    content: 'head';
    position: absolute;
    bottom: -32px; }
  .node--tail:before {
    content: 'tail';
    position: absolute;
    bottom: -32px; }
  .node--lone:after {
    content: '';
    height: 100%;
    width: 12px;
    border: inherit;
    border-left: none;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 41px;
    top: -3px; }
  .node--doubly:after {
    content: '⇄';
    height: 75%;
    width: 12px;
    border: inherit;
    border-left: none;
    padding-top: 25%;
    position: absolute;
    font-size: 38px;
    left: 41px;
    top: -3px; }
  .node--doubly--tail:after {
    content: '';
    height: 75%;
    width: 12px;
    border: inherit;
    border-left: none;
    padding-top: 25%;
    position: absolute;
    font-size: 38px;
    left: 41px;
    top: -3px; }

.stack--container {
  position: relative;
  height: 150px;
  width: 215px;
  justify-self: center; }

.stack {
  width: 150px;
  height: 150px;
  border: 5px solid #3498DB;
  position: absolute;
  background: #FFFFFF;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateX(-50%);
  left: 50%;
  bottom: 0;
  z-index: 0; }
  .stack--1 {
    z-index: 10;
    bottom: 10px; }
  .stack--2 {
    z-index: 20;
    bottom: 20px; }
  .stack--3 {
    z-index: 30;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    color: #3498DB;
    font-size: 56px; }

.array {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }

.array__item {
  width: 48px;
  height: 48px;
  border: 3px solid #3498DB;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  color: #3498DB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px; }
  .array__item:last-child {
    margin-right: 0; }

.array--highlight {
  background: #3498DB;
  color: #FFFFFF; }

.math {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 24px 48px;
  text-align: center;
  font-family: "Source Code Pro", monospace; }

.memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.mem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 48px; }
  .mem:first-child {
    margin-top: 0; }

.mem__block {
  background: #f1f1f1;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 8px;
  position: relative;
  color: #FFFFFF;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mem__block--alloc {
  background: #3498DB; }

.mem__block--leak {
  background: #FF3754; }

.mem__block--pointer:after {
  content: '⇣';
  color: #3498DB;
  position: absolute;
  left: 50%;
  font-size: 48px;
  transform: translateX(-50%);
  bottom: -64px; }

.mem__desc {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  color: #3498DB;
  text-align: center;
  margin-bottom: 8px; }
  .mem__desc:last-child {
    margin-bottom: 0;
    margin-top: 8px; }

/*# sourceMappingURL=main.css.map */
