@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
/* --- Colors --- */
/* --- Fonts --- */
/* --- Breakpoints --- */
/* --- Bezier Curves --- */
/* --- Miscellanious --- */
/*
* This is the smallest unit for component layout. Keep all margins, paddings,
* font sizes, etc. as a multiple of this value.
*/
/* Responsive breakpoint manager
*
* @param {Number} $breakpoint -> minimum width for media query
* @requires $breakpoints-* from _settings.scss
*/
/*
* This file is a factory reset of default
* CSS settings.
*
* All default padding and margin values are
* reset for all elements.
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #494949;
  background: #fefefe;
  z-index: 0; }

/*
* This file overrides default browser styles for
* (non-class) elements in this project.
*/
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 1em;
  color: #494949; }

h1 {
  font-size: 40px; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 64px; } }

h2 {
  font-size: 24px; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 40px; } }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 24px; } }

p {
  font-family: "Open Sans", sans-serif;
  color: #494949;
  line-height: 1.7em; }

table, td, th {
  border-collapse: collapse;
  text-align: center; }

td, th {
  padding: 8px; }

a {
  text-decoration: none;
  color: #494949; }

pre {
  background: #494949;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 24px 48px;
  overflow-x: scroll; }

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  line-height: 1.4em; }

ul, ol {
  margin-left: 40px; }

button {
  border: none; }

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 0; }

blockquote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 48px;
  background: #f1f1f1;
  border-radius: 8px; }

@keyframes slide-right {
  0% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1);
    transform-origin: left; }
  51% {
    transform: scaleX(1);
    transform-origin: right; }
  60% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0);
    transform-origin: right; } }
@keyframes grow-vert {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }
@keyframes grow-horiz {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }
@keyframes show-down {
  from {
    opacity: 0;
    transform: translateY(-16px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(16px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
.nav--note {
  opacity: 0;
  pointer-events: none;
  position: fixed; }
  @media only screen and (min-width: 768px) {
    .nav--note {
      left: 6.25vw;
      opacity: 1;
      pointer-events: all; } }

.note {
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh; }
  @media only screen and (min-width: 768px) {
    .note {
      display: grid;
      grid-template-columns: 48px 1fr 8px 24px 480px 32px 1fr 48px; } }
  @media only screen and (min-width: 1280px) {
    .note {
      grid-template-columns: 48px 80px 400px 80px 1fr; } }

.note__header {
  grid-column: 3;
  margin-top: 40px;
  margin-bottom: 32px; }
  @media only screen and (min-width: 768px) {
    .note__header {
      grid-column: 5;
      margin-top: 88px;
      margin-bottom: 80px; } }
  @media only screen and (min-width: 1280px) {
    .note__header {
      position: fixed;
      left: 13vw;
      width: 500px;
      margin: 0;
      top: 30vh; } }

@media only screen and (min-width: 768px) {
  .note__title {
    margin-bottom: 56px; } }

.note__desc {
  display: none; }
  @media only screen and (min-width: 768px) {
    .note__desc {
      display: flex;
      align-items: flex-end; } }

.class__desc {
  width: 176px; }

.note__number {
  margin-left: auto; }

.content {
  grid-column: 3;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .content {
      grid-column: 5;
      margin-bottom: 26vh; } }
  @media only screen and (min-width: 1280px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 480px 1fr;
      margin-top: 26vh; }
      .content * {
        grid-column: 2; } }

.progress {
  position: fixed;
  right: 0;
  top: 0; }

.class {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }
  @media only screen and (min-width: 768px) {
    .class {
      display: grid;
      grid-template-columns: 50vw 50vw; } }

.header {
  align-self: center;
  justify-self: end; }
  @media only screen and (min-width: 768px) {
    .header {
      margin-right: 56px; } }

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

@media only screen and (min-width: 768px) {
  .header--xs {
    display: none; } }

.header--lg {
  display: none; }
  @media only screen and (min-width: 768px) {
    .header--lg {
      display: flex; } }

.header__dept {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: 20px;
  transform: translateY(-16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.7s show-down forwards; }

.header__desc {
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-style: italic;
  width: 60%;
  text-align: right;
  margin-top: 56px;
  margin-right: 16px;
  transform: translateY(16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.7s show-up forwards; }
  @media only screen and (min-width: 1280px) {
    .header__desc {
      width: 50%;
      margin-top: 8px; } }

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  position: relative;
  animation: show 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) forwards; }
  .header__title:before {
    content: '';
    position: absolute;
    background: #494949;
    width: 80px;
    height: 10px;
    left: 3px;
    bottom: -10px;
    transform-origin: left;
    transform: scaleX(0);
    animation: grow-horiz 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.5s forwards; }
  .header__title:after {
    content: '';
    position: absolute;
    background: #3498DB;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    animation: 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) slide-right forwards; }
  @media only screen and (min-width: 768px) {
    .header__title {
      font-size: 180px; }
      .header__title:before {
        transform-origin: right;
        height: 24px;
        left: auto;
        right: 13px;
        width: 110px;
        bottom: -24px; } }
  @media only screen and (min-width: 1024px) {
    .header__title {
      font-size: 220px; } }
  @media only screen and (min-width: 1280px) {
    .header__title {
      font-size: 280px; }
      .header__title:before {
        transform-origin: left;
        left: 20px;
        width: 136px;
        bottom: -40px; } }

.nav-container {
  max-height: 80vh;
  overflow-y: scroll;
  list-style: none;
  margin-left: 0; }

.nav {
  height: 100vh;
  border-left: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 20;
  transform-origin: top;
  transform: scaleX(0);
  animation: grow-vert 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) forwards; }

.nav__item {
  display: flex;
  align-items: center;
  transform: translateX(-8px);
  margin-bottom: 16px;
  z-index: 30; }
  .nav__item span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.nav__item--class {
  cursor: pointer;
  margin-bottom: 32px; }
  .nav__item--class:hover {
    color: #3498DB; }
    .nav__item--class:hover .nav__link--class:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      background: #3498DB;
      width: 50%;
      height: 4px; }

.nav__link {
  margin-left: 16px;
  padding: 4px 8px;
  height: 100%;
  background: rgba(254, 254, 254, 0.9);
  font-family: "Source Code Pro", monospace;
  transition: transform 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: translateX(-16px);
  opacity: 0;
  position: relative;
  pointer-events: none; }
  .nav__link span {
    opacity: 0; }

.nav__link--class {
  background: none;
  margin-left: 5vw;
  padding: 0;
  width: 296px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  opacity: 1;
  transform: translateX(0); }
  @media only screen and (min-width: 1024px) {
    .nav__link--class {
      margin-left: 7.5vw; } }

.nav__button {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
  background: #fefefe;
  position: relative; }
  .nav__button:hover span {
    opacity: 1; }
  .nav__button:hover + .nav__link {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all; }
    .nav__button:hover + .nav__link span {
      opacity: 1; }
  .nav__button span {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: #3498DB;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.nav__button--active span {
  opacity: 1; }

.note__buttons {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  z-index: 100; }

.btn {
  cursor: pointer;
  pointer-events: all;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid #494949;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  opacity: 0;
  transform: translateY(16px);
  animation: show-up 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.6s forwards; }
  .btn:first-child {
    margin-left: 0; }
  .btn:hover {
    background: #3498DB;
    border: 0;
    color: #FFFFFF; }

.btn--class {
  animation-delay: 0.8s; }

.link {
  color: #3498DB;
  position: relative; }
  .link:after {
    content: '';
    background: #3498DB;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: scaleX(0); }
  .link:hover:after {
    transform: scaleX(1); }

.note__title {
  position: relative;
  color: #fefefe;
  animation: show 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) 0.3s forwards;
  z-index: 20; }
  .note__title:after {
    content: '';
    position: absolute;
    background: #3498DB;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    transform: scaleX(0);
    transform-origin: left;
    animation: 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) 0.3s slide-right forwards; }

.class__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
  transform: translateY(16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.5s show-up forwards;
  z-index: 20; }
  .class__desc:before {
    content: '';
    background: #3498DB;
    position: absolute;
    height: 2px;
    width: 24px;
    left: 0;
    bottom: -4px; }

.note__number {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transform: translateY(16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.6s show-up forwards;
  z-index: 20; }

@keyframes show {
  0% {
    color: #fefefe; }
  50% {
    color: #fefefe; }
  51% {
    color: #494949; }
  100% {
    color: #494949; } }
.content {
  font-size: 16px;
  line-height: 1.618;
  padding-bottom: 56px;
  opacity: 0;
  transform: translateY(-16px);
  animation: show-down 1s cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s forwards; }
  .content > * {
    margin-bottom: 20px; }
    .content > *:last-child {
      margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .content {
      font-size: 18px; } }

.note__subtitle {
  position: relative;
  margin-top: 20px; }
  .note__subtitle:before {
    content: '';
    background: #3498DB;
    position: absolute;
    height: 100%;
    width: 8px;
    left: -40px; }
  @media only screen and (min-width: 768px) {
    .note__subtitle {
      margin-top: 60px; }
      .note__subtitle:before {
        left: -32px; } }
  @media only screen and (min-width: 1280px) {
    .note__subtitle {
      margin-bottom: 40px; }
      .note__subtitle:before {
        width: 35px;
        height: 8px;
        left: 0;
        top: -12px; } }
  .note__subtitle:first-child {
    margin-top: 0; }

.section__subtitle {
  margin-top: 30px; }

.quote__title {
  margin-bottom: 8px;
  border-bottom: 3px solid #494949;
  padding-right: 32px;
  font-weight: 700; }

.progress {
  background: #3498DB;
  width: 100vw;
  height: 5px; }
  @media only screen and (min-width: 768px) {
    .progress {
      height: 100vh;
      width: 12px; } }

.linked-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  margin: 20px 0 40px 0; }

.node {
  width: 48px;
  height: 48px;
  border: 3px solid #3498DB;
  display: flex;
  color: #3498DB;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 30px; }
  .node:after {
    content: '⟶';
    height: 100%;
    width: 12px;
    border: inherit;
    border-left: none;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 41px;
    top: -3px; }
  .node--head:before {
    content: 'head';
    position: absolute;
    bottom: -32px; }
  .node--tail:before {
    content: 'tail';
    position: absolute;
    bottom: -32px; }
  .node--lone:after {
    content: '';
    height: 100%;
    width: 12px;
    border: inherit;
    border-left: none;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 41px;
    top: -3px; }
  .node--doubly:after {
    content: '⇄';
    height: 75%;
    width: 12px;
    border: inherit;
    border-left: none;
    padding-top: 25%;
    position: absolute;
    font-size: 38px;
    left: 41px;
    top: -3px; }
  .node--doubly--tail:after {
    content: '';
    height: 75%;
    width: 12px;
    border: inherit;
    border-left: none;
    padding-top: 25%;
    position: absolute;
    font-size: 38px;
    left: 41px;
    top: -3px; }

.stack--container {
  position: relative;
  height: 150px;
  width: 215px;
  justify-self: center; }

.stack--array {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.stack--array__item {
  width: 48px;
  height: 48px;
  background: #3498DB;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 8px;
  font-family: "Source Code Pro", monospace; }
  .stack--array__item:nth-last-child(2) {
    margin-right: 0; }

.stack--array__desc {
  text-align: center;
  margin-top: 16px;
  font-family: "Source Code Pro", monospace;
  color: #3498DB;
  width: 100%; }

.stack--empty {
  background: #f1f1f1; }

.stack--top {
  background: #FDCA1E; }

.stack {
  width: 150px;
  height: 150px;
  border: 5px solid #3498DB;
  position: absolute;
  background: #FFFFFF;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateX(-50%);
  left: 50%;
  bottom: 0;
  z-index: 0; }
  .stack--1 {
    z-index: 10;
    bottom: 10px; }
  .stack--2 {
    z-index: 20;
    bottom: 20px; }
  .stack--3 {
    z-index: 30;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    color: #3498DB;
    font-size: 56px; }

.array {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }

.array__item {
  width: 48px;
  height: 48px;
  border: 3px solid #3498DB;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  color: #3498DB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px; }
  .array__item:last-child {
    margin-right: 0; }

.array--highlight {
  background: #3498DB;
  color: #FFFFFF; }

.math {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 24px 48px;
  text-align: center;
  font-family: "Source Code Pro", monospace; }

.memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.mem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 48px; }
  .mem:first-child {
    margin-top: 0; }

.mem__block {
  background: #f1f1f1;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 8px;
  position: relative;
  color: #3498DB;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mem__block--alloc {
  background: #3498DB;
  font-size: 18px;
  color: #FFFFFF; }

.mem__block--leak {
  background: #FF3754; }

.mem__block--pointer:after {
  content: '⇣';
  color: #3498DB;
  position: absolute;
  left: 50%;
  font-size: 48px;
  transform: translateX(-50%);
  bottom: -64px; }

.mem--double:after {
  content: '⇣';
  color: #3498DB;
  position: absolute;
  left: 50%;
  font-size: 48px;
  transform-origin: top;
  transform: translateX(-50%) translateY(5px) rotate(30deg);
  bottom: -64px; }

.mem__desc {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  color: #3498DB;
  text-align: center;
  margin-bottom: 8px; }
  .mem__desc:last-child {
    margin-bottom: 0;
    margin-top: 8px; }

.queue {
  display: flex;
  justify-content: center;
  align-items: center; }

.queue__front {
  background: #FF3754; }

.queue__back {
  background: #FDCA1E; }

.queue__item {
  width: 48px;
  height: 48px;
  background: #3498DB;
  border-radius: 8px;
  margin-right: 8px; }

.queue__last {
  opacity: 0;
  animation-name: move-left-in;
  animation-delay: 1.2s;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

.queue__first {
  animation-name: move-left-out;
  animation-delay: 1.7s;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes move-left-out {
  from {
    transform: translateX(0);
    opacity: 1; }
  to {
    transform: translateX(-80px);
    opacity: 0; } }
@keyframes move-left-in {
  from {
    transform: translateX(80px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
