@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
/* --- Colors --- */
/* --- Fonts --- */
/* --- Breakpoints --- */
/* --- Bezier Curves --- */
/* --- Miscellanious --- */
/*
* This is the smallest unit for component layout. Keep all margins, paddings,
* font sizes, etc. as a multiple of this value.
*/
/* Responsive breakpoint manager
*
* @param {Number} $breakpoint -> minimum width for media query
* @requires $breakpoints-* from _settings.scss
*/
/*
* This file is a factory reset of default
* CSS settings.
*
* All default padding and margin values are
* reset for all elements.
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #494949;
  background: #fafafa;
  z-index: 0; }

/*
* This file overrides default browser styles for
* (non-class) elements in this project.
*/
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 1em; }

h1 {
  font-size: 40px; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 64px; } }
  @media only screen and (min-width: 1280px) {
    h1 {
      font-size: 56px; } }
  @media only screen and (min-width: 1440px) {
    h1 {
      font-size: 64px; } }
  @media only screen and (min-width: 1800px) {
    h1 {
      font-size: 80px; } }
  @media only screen and (min-width: 2500px) {
    h1 {
      font-size: 96px; } }

h2 {
  font-size: 24px; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 36px; } }
  @media only screen and (min-width: 1800px) {
    h2 {
      font-size: 48px; } }

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 24px; } }
  @media only screen and (min-width: 1800px) {
    h3 {
      font-size: 32px; } }

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.618em; }

table {
  display: flex;
  justify-content: center; }

table, td, th {
  border-collapse: collapse;
  text-align: center;
  font-family: "Source Code Pro", monospace; }

td, th {
  padding: 8px;
  border-right: 1px solid;
  border-left: 1px solid; }
  td:first-child, th:first-child {
    border-left: none; }
  td:last-child, th:last-child {
    border-right: none; }

th {
  border-bottom: 1px solid; }

a {
  text-decoration: none;
  color: #494949; }

pre {
  background: #494949;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 24px 48px;
  overflow-x: scroll; }

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.9em;
  line-height: 1.4em; }

ul, ol {
  margin-left: 40px; }

button {
  cursor: pointer;
  color: inherit;
  border: none; }
  button:focus {
    outline: 0; }

blockquote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 48px;
  background: #f1f1f1;
  border-radius: 8px; }

@keyframes slide-right {
  0% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1);
    transform-origin: left; }
  51% {
    transform: scaleX(1);
    transform-origin: right; }
  60% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0);
    transform-origin: right; } }

@keyframes grow-vert {
  from {
    transform: scaleY(0); }
  to {
    transform: scaleY(1); } }

@keyframes grow-horiz {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

@keyframes grow-horiz-spec {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(0.32); } }

@keyframes show-down {
  from {
    opacity: 0;
    transform: translateY(-16px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(16px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes show-right {
  from {
    opacity: 0;
    transform: translateX(-16px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes show-left {
  from {
    opacity: 0;
    transform: translateX(16px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.home {
  background: #2C3E50;
  color: #FFFFFF;
  display: flex;
  justify-content: center; }

.cards {
  margin: 20vh 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  max-width: 70vw; }

.class-nav {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.nav-main {
  position: fixed;
  left: 0; }

@media only screen and (min-width: 1280px) {
  .note__nav {
    position: fixed;
    width: 30vw;
    left: 10vw;
    top: 10vh; } }

@media only screen and (min-width: 1280px) {
  .note__nav__item {
    flex-direction: column;
    align-items: flex-start; } }

@media only screen and (min-width: 1440px) {
  .note__nav__item {
    flex-direction: row;
    align-items: baseline; } }

@media only screen and (min-width: 1280px) {
  .nav__sublist {
    margin-top: 16px;
    margin-left: 0; } }

@media only screen and (min-width: 1440px) {
  .nav__sublist {
    margin-top: 0; } }

.nav--note {
  opacity: 0;
  pointer-events: none;
  position: fixed; }
  @media only screen and (min-width: 768px) {
    .nav--note {
      left: 6.25vw;
      opacity: 1;
      pointer-events: all; } }
  @media only screen and (min-width: 1024px) {
    .nav--note {
      left: 9vw; } }
  @media only screen and (min-width: 1280px) {
    .nav--note {
      left: auto;
      right: 7vw; } }
  @media only screen and (min-width: 1800px) {
    .nav--note {
      right: 10vw; } }

.note {
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh; }
  @media only screen and (min-width: 768px) {
    .note {
      display: grid;
      grid-template-columns: 48px 1fr 8px 24px 480px 32px 1fr 48px; } }
  @media only screen and (min-width: 1280px) {
    .note {
      grid-template-columns: 10vw 30vw 12vw 1fr;
      padding: 0; } }
  @media only screen and (min-width: 1800px) {
    .note {
      grid-template-columns: 10vw 32vw 12vw 1fr; } }

.note__header {
  grid-column: 3;
  margin-top: 40px;
  margin-bottom: 32px; }
  @media only screen and (min-width: 768px) {
    .note__header {
      grid-column: 3 / 7;
      margin-top: 88px;
      margin-bottom: 80px; } }
  @media only screen and (min-width: 1280px) {
    .note__header {
      position: fixed;
      left: 10vw;
      width: 30vw;
      margin: 0;
      top: 26vh; } }
  @media only screen and (min-width: 1800px) {
    .note__header {
      left: 10vw;
      width: 32vw; } }

@media only screen and (min-width: 768px) {
  .note__title {
    margin-bottom: 56px; } }

@media only screen and (min-width: 1280px) {
  .note__title {
    margin-bottom: 88px; } }

.note__desc {
  display: none; }
  @media only screen and (min-width: 768px) {
    .note__desc {
      display: flex;
      align-items: flex-end; } }

.note__number {
  margin-left: auto; }

.content {
  grid-column: 3;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .content {
      grid-column: 5;
      margin-bottom: 26vh; } }
  @media only screen and (min-width: 1280px) {
    .content {
      grid-column: 4;
      margin-top: 26vh;
      width: 480px; } }
  @media only screen and (min-width: 1800px) {
    .content {
      width: 560px; } }
  @media only screen and (min-width: 2500px) {
    .content {
      width: 640px; } }

.class {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }
  @media only screen and (min-width: 768px) {
    .class {
      display: grid;
      grid-template-columns: 50vw 50vw; } }

.nav--class {
  margin-left: 20vw; }
  @media only screen and (min-width: 768px) {
    .nav--class {
      margin-left: 0; } }

.header {
  margin-left: 12.8vw;
  margin-top: 10vh;
  align-self: flex-start;
  justify-self: end; }
  @media only screen and (min-width: 768px) {
    .header {
      margin-left: 0;
      margin-top: 0;
      align-self: center;
      margin-right: 56px; } }

.card {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #213141;
  color: #2C3E50;
  border-radius: 16px;
  position: relative; }
  .card:before {
    content: '';
    position: absolute;
    background: #3498DB;
    width: 50%;
    height: 5px;
    top: 0;
    opacity: 0; }
  .card:after {
    content: 'See Notes';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #494949;
    width: 40%;
    height: 2.5em;
    color: #FFFFFF;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    bottom: -0.5em;
    opacity: 0;
    transform: translateY(16px);
    transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .card:hover {
    background: #FFFFFF;
    color: #494949; }
    .card:hover:before, .card:hover:after {
      opacity: 1;
      transform: translateY(0); }
  .card span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.card__content {
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right; }

.card__dept {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.8em;
  transform: translateX(0.8em); }

.card__title {
  font-size: 120px;
  transform: translateX(0.08em); }

.card__desc {
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  font-style: italic; }

.class-nav {
  height: 50vh;
  width: 24px;
  border: 1px solid #d4d4d4;
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1); }

.burger {
  position: absolute;
  background: #fafafa;
  border: 1px solid #d4d4d4;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 0;
  transform: translateY(-50%); }

@media only screen and (min-width: 768px) {
  .header--xs {
    display: none; } }

.header--lg {
  display: none; }
  @media only screen and (min-width: 768px) {
    .header--lg {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center; } }

.header__dept {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing: 20px;
  transform: translateY(-16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.7s show-down forwards; }

.header__desc {
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-style: italic;
  width: 60%;
  text-align: right;
  margin-top: 56px;
  margin-right: 16px;
  transform: translateY(16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.7s show-up forwards; }
  @media only screen and (min-width: 1280px) {
    .header__desc {
      width: 50%;
      margin-top: 8px; } }

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  position: relative;
  animation: show 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) forwards; }
  .header__title:before {
    content: '';
    position: absolute;
    background: #494949;
    width: 80px;
    height: 10px;
    left: 3px;
    bottom: -10px;
    transform-origin: left;
    transform: scaleX(0);
    animation: grow-horiz 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0.5s forwards; }
  .header__title:after {
    content: '';
    position: absolute;
    background: #3498DB;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    animation: 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) slide-right forwards; }
  @media only screen and (min-width: 768px) {
    .header__title {
      position: relative;
      font-size: 180px; }
      .header__title:before {
        transform-origin: right;
        height: 24px;
        left: auto;
        right: 13px;
        width: 110px;
        bottom: -24px; } }
  @media only screen and (min-width: 1024px) {
    .header__title {
      font-size: 220px; } }
  @media only screen and (min-width: 1280px) {
    .header__title {
      font-size: 280px; }
      .header__title:before {
        transform-origin: left;
        left: 20px;
        width: 136px;
        bottom: -40px; } }

.nav-container {
  padding-top: 32px;
  padding-left: 40px;
  padding-bottom: 10vh;
  margin-left: 0;
  overflow-y: scroll;
  list-style: none;
  transform: translateX(-8px); }
  @media only screen and (min-width: 768px) {
    .nav-container {
      margin-left: 0;
      padding-left: 72px;
      padding-top: 0;
      padding-bottom: 0;
      max-height: 40vh;
      transform: translateX(-8px); } }
  @media only screen and (min-width: 1280px) {
    .nav-container {
      max-height: 60vh; } }

.nav {
  min-height: 100vh;
  border-left: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 20;
  transform-origin: top;
  transform: scaleX(0);
  animation: grow-vert 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) forwards; }
  @media only screen and (min-width: 1280px) {
    .nav {
      border-right: 1px solid #d4d4d4; } }

.nav--class {
  margin-top: 56px;
  min-height: 0;
  transform-origin: bottom;
  animation-delay: 0.25s;
  justify-content: flex-start;
  z-index: 0; }
  @media only screen and (min-width: 768px) {
    .nav--class {
      transform-origin: center;
      min-height: 100vh;
      margin-top: 0;
      justify-content: center; } }

.nav__item {
  display: flex;
  align-items: center;
  transform: translateX(-8px);
  margin-bottom: 16px;
  z-index: 30; }
  .nav__item span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media only screen and (min-width: 1280px) {
    .nav__item {
      flex-direction: row-reverse;
      justify-content: flex-end;
      transform: translateX(8px); } }

.nav__item--lone {
  max-width: 60vw;
  margin-bottom: 24px;
  opacity: 0;
  transform: translateX(-16px);
  animation: show-right 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 1s forwards; }
  .nav__item--lone:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .nav__item--lone {
      margin-bottom: 32px;
      max-width: 35vw; } }
  @media only screen and (min-width: 1280px) {
    .nav__item--lone {
      max-width: 25vw; } }

.nav__link {
  margin-left: 16px;
  padding: 4px 8px;
  height: 100%;
  background: rgba(250, 250, 250, 0.9);
  font-family: "Source Code Pro", monospace;
  transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: translateX(-16px);
  opacity: 0;
  position: relative;
  pointer-events: none; }
  .nav__link span {
    opacity: 0; }
  @media only screen and (min-width: 1280px) {
    .nav__link {
      margin-left: 0;
      margin-right: 16px;
      transform: translateX(16px); } }

.nav__button {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
  background: #fafafa;
  position: relative; }
  .nav__button:hover {
    border: none;
    background: #3498DB; }
    .nav__button:hover + .nav__link {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all; }
      .nav__button:hover + .nav__link span {
        opacity: 1; }
  .nav__button span {
    width: 100%;
    height: 100%; }

.nav__button--active {
  border: none;
  background: #3498DB; }

.note__nav__item {
  width: 100%;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase; }
  .note__nav__item:hover .nav__sublist {
    opacity: 1;
    transform: translateX(0); }

.nav__name {
  font-family: inherit;
  position: relative; }
  .nav__name:after {
    content: '';
    position: absolute;
    background: #494949;
    width: 20%;
    height: 4px;
    left: 0;
    top: 26px; }

.nav__sublist {
  display: none;
  list-style: none;
  opacity: 0;
  transform: translateX(-16px); }
  @media only screen and (min-width: 1280px) {
    .nav__sublist {
      display: flex;
      pointer-events: all;
      animation: show-right 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.25s forwards; } }

.sublist__item {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  text-transform: none;
  margin-left: 24px; }
  .sublist__item:first-child {
    margin-left: 0; }
  .sublist__item:hover .sublist__sub {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0); }

.sublist__sub {
  pointer-events: none;
  position: absolute;
  list-style: none;
  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  margin-top: 0;
  margin-left: 0;
  width: 184px;
  left: 0;
  padding: 16px 24px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(16px);
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1); }

.note__buttons {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  z-index: 100; }

.btn {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 16px;
  font-size: 24px;
  background: #FFFFFF;
  color: #494949;
  height: 48px; }

.link {
  color: #3498DB;
  position: relative; }
  .link:after {
    content: '';
    background: #3498DB;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: scaleX(0); }
  .link:hover:after {
    transform: scaleX(1); }

.link--rev {
  color: #494949; }
  .link--rev:after {
    opacity: 0; }
  .link--rev:hover {
    color: #3498DB; }

.link--nav {
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  color: #d4d4d4;
  position: relative; }
  .link--nav:before {
    content: '';
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid #d4d4d4;
    background: #fefefe;
    border-radius: 50%; }
  .link--nav:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background: #3498DB;
    width: 40px;
    height: 4px;
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transform: scaleX(0); }
  .link--nav:hover {
    color: #3498DB; }
    .link--nav:hover:before {
      background: #3498DB;
      border: 0; }
    .link--nav:hover:after {
      transform: scaleX(1); }
  @media only screen and (min-width: 768px) {
    .link--nav {
      font-size: 20px; }
      .link--nav:before {
        left: -72px; } }

.link--header {
  position: relative; }
  .link--header:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #494949;
    transform: scaleX(0);
    transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .link--header:hover:after {
    transform: scaleX(1); }

.note__title {
  position: relative;
  color: #fafafa;
  animation: show 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) 0.3s forwards;
  z-index: 20; }
  .note__title:after {
    content: '';
    position: absolute;
    background: #3498DB;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    transform: scaleX(0);
    transform-origin: left;
    animation: 0.8s cubic-bezier(0.85, 0.01, 0.36, 1) 0.3s slide-right forwards; }

.class__desc {
  width: 176px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
  transform: translateY(16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.5s show-up forwards;
  z-index: 20; }
  .class__desc:before {
    content: '';
    background: #3498DB;
    position: absolute;
    height: 2px;
    width: 24px;
    left: 0;
    bottom: -4px; }
  @media only screen and (min-width: 1280px) {
    .class__desc {
      font-size: 18px;
      width: 200px; } }
  @media only screen and (min-width: 1800px) {
    .class__desc {
      font-size: 22px;
      width: 240px; } }

.note__number {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  transform: translateY(16px);
  opacity: 0;
  animation: 0.5s cubic-bezier(0.85, 0.01, 0.36, 1) 0.6s show-up forwards;
  z-index: 20; }
  @media only screen and (min-width: 1280px) {
    .note__number {
      font-size: 18px; } }
  @media only screen and (min-width: 1800px) {
    .note__number {
      font-size: 22px; } }

@keyframes show {
  0% {
    color: #fafafa; }
  50% {
    color: #fafafa; }
  51% {
    color: #494949; }
  100% {
    color: #494949; } }

.content {
  line-height: 1.618;
  padding-bottom: 56px;
  opacity: 0;
  transform: translateY(-16px);
  animation: show-down 1s cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s forwards; }
  .content > * {
    margin-bottom: 1.25em; }
    .content > *:last-child {
      margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .content {
      font-size: 1.125em; } }
  @media only screen and (min-width: 1800px) {
    .content {
      font-size: 1.375em; } }
  @media only screen and (min-width: 2500px) {
    .content {
      font-size: 1.625em; }
      .content > * {
        margin-bottom: 32px; } }

.note__subtitle {
  position: relative;
  margin-top: 1.25em; }
  .note__subtitle:before {
    content: '';
    background: #3498DB;
    position: absolute;
    height: 100%;
    width: 8px;
    left: -40px; }
  @media only screen and (min-width: 768px) {
    .note__subtitle {
      margin-top: 60px; }
      .note__subtitle:before {
        left: -32px; } }
  @media only screen and (min-width: 1280px) {
    .note__subtitle {
      margin-bottom: 40px; }
      .note__subtitle:before {
        width: 35px;
        height: 8px;
        left: 0;
        top: -12px; } }
  @media only screen and (min-width: 1800px) {
    .note__subtitle {
      margin-top: 80px; }
      .note__subtitle:before {
        height: 10px; } }
  @media only screen and (min-width: 2500px) {
    .note__subtitle:before {
      width: 40px;
      top: -16px; } }
  .note__subtitle:first-child {
    margin-top: 0; }

.section__subtitle {
  margin-top: 40px; }

.quote__title {
  margin-bottom: 8px;
  border-bottom: 3px solid #494949;
  padding-right: 32px;
  font-weight: 700; }

.progress {
  background: #3498DB;
  width: 100vw;
  height: 5px; }
  @media only screen and (min-width: 768px) {
    .progress {
      height: 100vh;
      width: 12px; } }

.linked-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  margin: 20px 0 40px 0; }

.node {
  width: 48px;
  height: 48px;
  border: 3px solid #3498DB;
  display: flex;
  color: #3498DB;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 30px; }
  .node:after {
    content: '⟶';
    height: 100%;
    width: 12px;
    border: inherit;
    border-left: none;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 41px;
    top: -3px; }
  .node--head:before {
    content: 'head';
    position: absolute;
    bottom: -32px; }
  .node--tail:before {
    content: 'tail';
    position: absolute;
    bottom: -32px; }
  .node--lone:after {
    content: '';
    height: 100%;
    width: 12px;
    border: inherit;
    border-left: none;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 30px;
    left: 41px;
    top: -3px; }
  .node--doubly:after {
    content: '⇄';
    height: 75%;
    width: 12px;
    border: inherit;
    border-left: none;
    padding-top: 25%;
    position: absolute;
    font-size: 38px;
    left: 41px;
    top: -3px; }
  .node--doubly--tail:after {
    content: '';
    height: 75%;
    width: 12px;
    border: inherit;
    border-left: none;
    padding-top: 25%;
    position: absolute;
    font-size: 38px;
    left: 41px;
    top: -3px; }

.stack--container {
  position: relative;
  height: 150px;
  width: 215px;
  justify-self: center; }

.stack--array {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.stack--array__item {
  width: 48px;
  height: 48px;
  background: #3498DB;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 8px;
  font-family: "Source Code Pro", monospace; }
  .stack--array__item:nth-last-child(2) {
    margin-right: 0; }

.stack--array__desc {
  text-align: center;
  margin-top: 16px;
  font-family: "Source Code Pro", monospace;
  color: #3498DB;
  width: 100%; }

.stack--empty {
  background: #f1f1f1; }

.stack--top {
  background: #FDCA1E; }

.stack {
  width: 150px;
  height: 150px;
  border: 5px solid #3498DB;
  position: absolute;
  background: #FFFFFF;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateX(-50%);
  left: 50%;
  bottom: 0;
  z-index: 0; }
  .stack--1 {
    z-index: 10;
    bottom: 10px; }
  .stack--2 {
    z-index: 20;
    bottom: 20px; }
  .stack--3 {
    z-index: 30;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;
    color: #3498DB;
    font-size: 56px; }

.array {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; }

.array__item {
  width: 48px;
  height: 48px;
  border: 3px solid #3498DB;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  color: #3498DB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px; }
  .array__item:last-child {
    margin-right: 0; }

.array--highlight {
  background: #3498DB;
  color: #FFFFFF; }

.math {
  font-size: 0.9em;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 24px 48px;
  text-align: center;
  font-family: "Source Code Pro", monospace; }

.memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.mem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 48px; }
  .mem:first-child {
    margin-top: 0; }

.mem__block {
  background: #f1f1f1;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 8px;
  position: relative;
  color: #3498DB;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mem__block--alloc {
  background: #3498DB;
  font-size: 18px;
  color: #FFFFFF; }

.mem__block--leak {
  background: #FF3754; }

.mem__block--pointer:after {
  content: '⇣';
  color: #3498DB;
  position: absolute;
  left: 50%;
  font-size: 48px;
  transform: translateX(-50%);
  bottom: -64px; }

.mem--double:after {
  content: '⇣';
  color: #3498DB;
  position: absolute;
  left: 50%;
  font-size: 48px;
  transform-origin: top;
  transform: translateX(-50%) translateY(5px) rotate(30deg);
  bottom: -64px; }

.mem__desc {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  color: #3498DB;
  text-align: center;
  margin-bottom: 8px; }
  .mem__desc:last-child {
    margin-bottom: 0;
    margin-top: 8px; }

.queue {
  display: flex;
  justify-content: center;
  align-items: center; }

.queue__front {
  background: #FF3754; }

.queue__back {
  background: #FDCA1E; }

.queue__item {
  width: 48px;
  height: 48px;
  background: #3498DB;
  border-radius: 8px;
  margin-right: 8px; }

.queue__last {
  opacity: 0;
  animation-name: move-left-in;
  animation-delay: 1.2s;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

.queue__first {
  animation-name: move-left-out;
  animation-delay: 1.7s;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes move-left-out {
  from {
    transform: translateX(0);
    opacity: 1; }
  to {
    transform: translateX(-80px);
    opacity: 0; } }

@keyframes move-left-in {
  from {
    transform: translateX(80px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

.tree {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tree__level {
  display: flex;
  justify-content: center;
  margin-bottom: 28px; }
  .tree__level:last-child {
    margin-bottom: 0; }

.tree__pair {
  display: flex;
  justify-content: center;
  margin-right: 24px;
  position: relative; }
  .tree__pair:last-child {
    margin-right: 0; }
  .tree__pair:before {
    content: '';
    width: 74px;
    height: 2px;
    position: absolute;
    background: #3498DB;
    top: -16px;
    left: 50%;
    transform: translateX(-50%); }

.tree__node {
  width: 48px;
  height: 48px;
  border: 2px solid #3498DB;
  border-radius: 50%;
  margin-right: 24px;
  color: #3498DB;
  font-family: "Source Code Pro", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .tree__node:last-child {
    margin-right: 0; }
  .tree__node:before {
    content: '';
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    background: #3498DB;
    height: 16px;
    width: 2px; }
  .tree__node:after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background: #3498DB;
    height: 16px;
    width: 2px; }

.tree__highlight {
  border: 4px solid #3498DB; }
  .tree__highlight:before {
    width: 4px;
    top: -18px; }
  .tree__highlight:after {
    width: 4px;
    bottom: -18px; }

.tree__root:before {
  background: transparent; }

.tree__leaf:after {
  background: transparent; }

.node--disable {
  opacity: 0; }

.tree__delete {
  background: #FF3754;
  border: none;
  color: #FFFFFF; }
  .tree__delete:before {
    opacity: 0; }
  .tree__delete:after {
    opacity: 0; }

.table--stem td:first-child {
  text-align: right;
  padding-right: 16px; }

.table--stem td:nth-child(2) {
  text-align: left;
  padding-left: 16px; }

.table--white td, .table--white th {
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF; }
  .table--white td:first-child, .table--white th:first-child {
    border-left: none; }
  .table--white td:last-child, .table--white th:last-child {
    border-right: none; }

.table--white th {
  border-bottom: 1px solid #FFFFFF; }

.table--black td, .table--black th {
  color: #494949;
  border-right: 1px solid #494949;
  border-left: 1px solid #494949; }
  .table--black td:first-child, .table--black th:first-child {
    border-left: none; }
  .table--black td:last-child, .table--black th:last-child {
    border-right: none; }

.table--black th {
  border-bottom: 1px solid #494949; }

.summary {
  background: #fafafa;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50vw 50vw; }

.summary__figure {
  display: flex;
  justify-content: center; }

.figure {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 50vw;
  height: 100vh; }

.figure__item {
  position: absolute;
  top: 50vh;
  right: 25vw;
  transform: translate(50%, -50%); }

.figure--table {
  margin-top: 24px; }

.caption {
  position: absolute;
  min-width: 40%;
  min-height: 48px;
  bottom: 10vh; }

.summary__content {
  padding-bottom: 30vh;
  margin-left: 8vw;
  max-width: 30vw; }
  .summary__content > * {
    margin-bottom: 24px; }

.content__title {
  margin-top: 20vh;
  margin-bottom: 20vh; }

.content__subtitle {
  margin-top: 64px;
  margin-bottom: 5vh; }
  .content__subtitle:nth-child(2) {
    margin-top: 0; }

.summary__content {
  font-size: 18px; }

.content__title {
  width: 30vw;
  position: relative; }
  .content__title:after {
    content: '';
    position: absolute;
    width: 10%;
    height: 12px;
    background: #3498DB;
    bottom: -20px;
    left: 4px; }

.content__subtitle {
  font-size: 28px; }

.code--inline {
  font-size: 1em;
  background: #f1f1f1;
  padding: 6px 10px;
  border-radius: 8px; }

.summary__figure {
  background: #2C3E50; }

.figure {
  font-family: "Source Code Pro", monospace;
  line-height: 1.8;
  color: #FFFFFF;
  font-size: 22px; }

.figure__sub {
  margin-left: 24px; }
  .figure__sub:first-child {
    margin-left: 0; }

.figure__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0;
  pointer-events: none; }
  .figure__item pre {
    background: none;
    border-radius: 0;
    padding: 0; }

.figure--column {
  flex-direction: column;
  align-items: flex-start; }
  .figure--column .figure__sub {
    margin-left: 0;
    margin-bottom: 24px; }
    .figure--column .figure__sub:last-child {
      margin-bottom: 0; }

.figure--active {
  opacity: 1;
  pointer-events: all; }

.caption {
  background: #3498DB;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

.fig__table {
  font-size: 20px; }
  .fig__table td, .fig__table th {
    color: #FFFFFF;
    padding: 16px;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF; }
    .fig__table td:first-child, .fig__table th:first-child {
      border-left: none; }
    .fig__table td:last-child, .fig__table th:last-child {
      border-right: none; }
  .fig__table th {
    border-bottom: 1px solid #FFFFFF; }

.table--finance td, .table--finance th {
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-weight: 400; }

.table--finance td {
  border-bottom: none; }

.end-note {
  font-size: 0.8em; }

.fig__list {
  font-size: 18px;
  line-height: 1.6em; }

.table--clean {
  margin-top: 130vh; }
  .table--clean td, .table--clean th {
    padding: 16px 24px;
    text-align: left; }
  .table--clean th {
    font-weight: 400;
    border-bottom: none;
    text-align: right; }

.fig__sub {
  margin-top: 24px; }

.fig__mem {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px; }

.fig__mem__block {
  width: 48px;
  height: 48px;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px; }
  .fig__mem__block:first-child {
    margin-left: 0; }

.pointer {
  display: flex; }

.mem-block {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  margin-right: 48px; }
  .mem-block:last-child {
    margin-right: 0; }

.problems {
  display: grid;
  grid-template-columns: 10vw 40vw 40vw 10vw;
  grid-template-rows: 12vh 76vh 12vh; }

.problem__header {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  align-self: end; }

.problem {
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 76vh;
  grid-column: 2 / 3;
  grid-row: 2; }

.problem__info {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  max-height: 70vh;
  overflow-y: scroll; }

.problem__nav {
  grid-column: 4;
  grid-row: 2; }

.problem__show {
  grid-column: 2;
  grid-row: 3;
  justify-self: start;
  align-self: start; }

.solution__container {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 100vh; }

.problems {
  font-size: 24px;
  width: 100vw;
  height: 100vh;
  background: #2C3E50;
  color: #FFFFFF;
  overflow-y: hidden;
  z-index: 0; }

/* --- Header --- */
.problem__header {
  z-index: 20; }

.problem__header--act {
  color: #494949; }

.problem__header__class {
  font-size: 1em;
  font-weight: 400; }

.problem__header__desc {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  margin-left: 8px; }

/* --- Body --- */
.problem__info {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-right: 5vw; }
  .problem__info > * {
    margin-bottom: 1.2em; }
    .problem__info > *:last-child {
      margin-bottom: 0; }

.problem__question {
  font-weight: 700; }

.problem__data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
  font-size: 0.8em;
  color: #FFFFFF;
  transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

.solution__container {
  background: #fafafa;
  color: #494949;
  display: flex;
  align-items: center;
  font-size: 0.7em;
  padding: 0 10vw;
  overflow-y: scroll;
  transform: translateY(100vh);
  transition: all 0.5s cubic-bezier(0.85, 0.01, 0.36, 1);
  z-index: 10; }

.solution {
  max-height: 60vh;
  overflow-y: scroll; }
  .solution > * {
    margin-bottom: 1.2em; }
    .solution > *:last-child {
      margin-bottom: 0; }

/* --- Solution Button --- */
.problem__show {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  background: none;
  position: relative;
  z-index: 20; }
  .problem__show:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    transform: scaleX(0);
    transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1); }
  .problem__show:hover:after {
    transform: scaleX(1); }

.problem__hide {
  color: #494949; }
  .problem__hide:after {
    background: #494949; }

/* --- Navigation --- */
.problem__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  justify-self: start; }
  .problem__nav:before {
    content: '';
    position: absolute;
    left: 16px;
    top: 0;
    height: 30%;
    width: 1px;
    background: #FFFFFF; }
  .problem__nav:after {
    content: '';
    position: absolute;
    left: 16px;
    bottom: 0;
    height: 30%;
    width: 1px;
    background: #FFFFFF; }

.problem__numbers {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  transform: rotateZ(90deg);
  margin-left: -50px; }

.problem__curr {
  border-right: 6px solid #FFFFFF;
  padding-right: 1em; }

.problem__total {
  padding-left: 1em; }

.problem__prev {
  margin-bottom: 20vh; }

.problem__next {
  margin-top: 20vh; }

.problem__btn {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  z-index: 10; }
  .problem__btn:hover {
    background: #3498DB; }
