/*
* This file overrides default browser styles for
* (non-class) elements in this project.
*/

h1, h2, h3 {
    font-family: $font-head;
    line-height: 1em;
    color: $black;
}
h1 {
    font-size: 40px;
    @include respond-to($breakpoint-sm) {
        font-size: 64px;
    }
    @include respond-to($breakpoint-xl) {
        font-size: 80px;
    }
    @include respond-to($bp-4k) {
        font-size: 96px;
    }
}
h2 {
    font-size: 24px;
    @include respond-to($breakpoint-sm) {
        font-size: 36px;
    }
    @include respond-to($breakpoint-xl) {
        font-size: 48px;
    }
}
h3 {
    font-family: $font-body;
    font-size: 16px;
    @include respond-to($breakpoint-sm) {
        font-size: 24px;
    }
    @include respond-to($breakpoint-xl) {
        font-size: 32px;
    }
}

p {
    font-family: $font-body;
    color: $black;
    line-height: 1.618em;
}

table {
    display: flex;
    justify-content: center;
}
table, td, th {
    border-collapse: collapse;
    text-align: center;
    font-family: $font-mono;
    color: $main;
}
td, th {
    padding: 8px;
    border-right: 1px solid $main;
    border-left: 1px solid $main;
    &:first-child {
        border-left: none;
    }
    &:last-child {
        border-right: none;
    }
}
th {
    border-bottom: 1px solid $main;
}

a {
    text-decoration: none;
    color: $black;
}

pre {
    background: $black;
    color: $white;
    border-radius: 8px;
    padding: 24px 48px;
    overflow-x: scroll;
}
code {
    font-family: $font-mono;
    font-size: 0.9em;
    line-height: 1.4em;
}

ul, ol {
    margin-left: 40px;
}

button {
    border: none;
    &:focus {
        outline: 0;
    }
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}

blockquote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 48px;
    background: $grey;
    border-radius: 8px;
}