/* Responsive breakpoint manager
*
* @param {Number} $breakpoint -> minimum width for media query
* @requires $breakpoints-* from _settings.scss
*/
@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
}

@mixin box-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@mixin nav-button($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 1px solid $dgrey;
  background: $bkg-main;
}