/*
* This file is a factory reset of default
* CSS settings.
*
* All default padding and margin values are
* reset for all elements.
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  
  body {
    font-family: $font-body;
    font-size: $font-size-base;
    color: $black;
  }
  