@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

/* --- Colors --- */

$black: #494949;
$grey: rgb(241, 241, 241);
$dgrey: rgb(212, 212, 212);
$vlgrey: rgb(254, 254, 254);
$white: #FFFFFF;

$blue: #3498DB;
$navy: #2C3E50;
$red: #FF3754;
$orange: #FDCA1E;

$main: $blue;
$secondary: $navy;
$main-bkg: #fafafa;
$warning: $red;

/* --- Fonts --- */

$font-head: 'Montserrat', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-serif: 'Libre Baskerville', serif;
$font-mono: 'Consolas', monospace;

$font-size-base: 16px;

/* --- Breakpoints --- */

$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1800px;
$bp-4k: 2500px;

/* --- Bezier Curves --- */

$cubic-out: cubic-bezier(0.22, 0.61, 0.36, 1);
$cubic-in-out: cubic-bezier(0.85, 0.01, 0.36, 1);

/* --- Miscellanious --- */

/*
* This is the smallest unit for component layout. Keep all margins, paddings,
* font sizes, etc. as a multiple of this value.
*/
$shift-value: 8px;