.problems {
  font-size: 24px;
  width: 100vw;
  height: 100vh;
  background: $secondary;
  color: $white;
  overflow-y: hidden;
  z-index: 0;
}

/* --- Header --- */

.problem__header {
  z-index: 20;
}

.problem__header--act {
  color: $black;
}

.problem__header__class {
  font-size: 1em;
  font-weight: 400;
}

.problem__header__desc {
  font-family: $font-serif;
  font-style: italic;
  margin-left: 8px;
}

/* --- Body --- */

.problem__info {
  font-family: $font-body;
  font-weight: 400;
  padding-right: 5vw;
  > * {
    margin-bottom: 1.2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.solution__container {
  background: $main-bkg;
  color: $black;
  display: flex;
  align-items: center;
  font-size: 0.7em;
  padding: 0 10vw;
  overflow-y: scroll;
  transform: translateY(100vh);
  transition: all 0.5s $cubic-in-out;
  z-index: 10;
}

.solution {
  max-height: 60vh;
  overflow-y: scroll;
  > * {
    margin-bottom: 1.2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.problem__question {
  font-weight: 700;
}

.problem__data {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
  font-size: 0.8em;
  color: $white;
  transition: all 0.5s $cubic-out;
}

/* --- Solution Button --- */

.problem__show {
  font-family: $font-head;
  font-size: 0.8em;
  background: none;
  position: relative;
  z-index: 20;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: $white;
    transform: scaleX(0);
    transition: all 0.25s $cubic-out;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.problem__hide {
  color: $black;
  &:after {
    background: $black;
  }
}

/* --- Navigation --- */

.problem__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  justify-self: start;
  &:before {
    content: '';
    position: absolute;
    left: 16px;
    top: 0;
    height: 30%;
    width: 1px;
    background: $white;
  }
  &:after {
    content: '';
    position: absolute;
    left: 16px;
    bottom: 0;
    height: 30%;
    width: 1px;
    background: $white;
  }
}

.problem__numbers {
  display: flex;
  font-family: $font-head;
  font-size: 1.3em;
  transform: rotateZ(90deg);
  margin-left: -50px;
}

.problem__curr {
  border-right: 6px solid $white;
  padding-right: 1em;
}

.problem__total {
  padding-left: 1em;
}

.problem__prev {
  margin-bottom: 20vh;
}

.problem__next {
  margin-top: 20vh;
}

.problem__btn {
  width: 32px;
  height: 32px;
  background: $white;
}