.nav-main {
  position: fixed;
  left: 0;
}

.note__nav {
  @include respond-to($breakpoint-lg) {
    position: fixed;
    width: 30vw;
    left: 10vw;
    top: 10vh;
  }
}

.nav--note {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  @include respond-to($breakpoint-sm) {
      left: 6.25vw;
      opacity: 1;
      pointer-events: all;
  }
  @include respond-to($breakpoint-md) {
    left: 9vw;
  }
  @include respond-to($breakpoint-lg) {
    left: auto;
    right: 7vw;
  }
  @include respond-to($breakpoint-xl) {
    right: 10vw;
  }
}

.note {
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
  @include respond-to($breakpoint-sm) {
    display: grid;
    grid-template-columns: 48px 1fr 8px 24px 480px 32px 1fr 48px;
  }
  @include respond-to($breakpoint-lg) {
    grid-template-columns: 10vw 30vw 12vw 1fr;
    padding: 0;
  }
  @include respond-to($breakpoint-xl) {
    grid-template-columns: 10vw 32vw 12vw 1fr;
  }
}

.note__header {
  grid-column: 3;
  margin-top: 40px;
  margin-bottom: 32px;
  @include respond-to($breakpoint-sm) {
    grid-column: 3 / 7;
    margin-top: 88px;
    margin-bottom: 80px;
  }
  @include respond-to($breakpoint-lg) {
    position: fixed;
    left: 10vw;
    width: 30vw;
    margin: 0;
    top: 26vh;
  }
  @include respond-to($breakpoint-xl) {
    left: 10vw;
    width: 32vw;
  }
}

.note__title {
  @include respond-to($breakpoint-sm) {
    margin-bottom: 56px;
  }
  @include respond-to($breakpoint-lg) {
    margin-bottom: 88px;
  }
}

.note__desc {
  display: none;
  @include respond-to($breakpoint-sm) {
    display: flex;
    align-items: flex-end;
  }
}

.note__number {
  margin-left: auto;
}

.content {
  grid-column: 3;
  width: 100%;
  @include respond-to($breakpoint-sm) {
    grid-column: 5;
    margin-bottom: 26vh;
  }
  @include respond-to($breakpoint-lg) {
    grid-column: 4;
    margin-top: 26vh;
    width: 480px;
  }
  @include respond-to($breakpoint-xl) {
    width: 560px;
  }
  @include respond-to($bp-4k) {
    width: 640px;
  }
}