.array {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.array__item {
  width: 48px;
  height: 48px;
  border: 3px solid $main;
  font-family: $font-mono;
  font-weight: 700;
  color: $main;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.array--highlight {
  background: $main;
  color: $white;
}