.note__buttons {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  z-index: 100;
}

.btn {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 16px;
  font-size: 24px;
  background: $white;
  color: $black;
}