.class-nav {
  height: 50vh;
  width: 24px;
  //background: $secondary;
  border: 1px solid $dgrey;
  transition: all 0.25s $cubic-out;
}

.burger {
  position: absolute;
  background: $main-bkg;
  border: 1px solid $dgrey;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}