.link {
  color: $blue;
  position: relative;
  &:after {
    content: '';
    background: $main;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.2s $cubic-out;
    transform: scaleX(0);
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}