.memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  &:first-child {
    margin-top: 0;
  }
}

.mem__block {
  background: $grey;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 8px;
  position: relative;
  color: $main;
  font-family: $font-mono;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mem__block--alloc {
  background: $main;
  font-size: 18px;
  color: $white;
}

.mem__block--leak {
  background: $warning;
}

.mem__block--pointer {
  &:after {
    content: '⇣';
    color: $main;
    position: absolute;
    left: 50%;
    font-size: 48px;
    transform: translateX(-50%);
    bottom: -64px;
  }
}

.mem--double {
  &:after {
    content: '⇣';
    color: $main;
    position: absolute;
    left: 50%;
    font-size: 48px;
    transform-origin: top;
    transform: translateX(-50%) translateY(5px) rotate(30deg);
    bottom: -64px;
  }
}

.mem__desc {
  width: 100%;
  font-family: $font-mono;
  color: $main;
  text-align: center;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
    margin-top: 8px;
  }
}