.nav-container {
    padding-top: 32px;
    padding-left: 40px;
    padding-bottom: 10vh;
    margin-left: 0;
    overflow-y: scroll;
    list-style: none;
    transform: translateX(-8px);
    @include respond-to($breakpoint-sm) {
        margin-left: 0;
        padding-left: 72px;
        padding-top: 0;
        padding-bottom: 0;
        max-height: 40vh;
        transform: translateX(-8px);
    }
    @include respond-to($breakpoint-lg) {
        max-height: 60vh;
    }
}

.nav {
    min-height: 100vh;
    border-left: 1px solid $dgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 20;
    transform-origin: top;
    transform: scaleX(0);
    animation: grow-vert 0.8s $cubic-in-out forwards;
    @include respond-to($breakpoint-lg) {
        align-items: flex-end;
        opacity: 0; // temporary
    }
}

.nav--class {
    margin-top: 56px;
    min-height: 0;
    transform-origin: bottom;
    animation-delay: 0.25s;
    justify-content: flex-start;
    z-index: 0;
    @include respond-to($breakpoint-sm) {
        transform-origin: center;
        min-height: 100vh;
        margin-top: 0;
        justify-content: center;
    }
}

.nav__item {
    display: flex;
    align-items: center;
    transform: translateX(-8px);
    margin-bottom: 16px;
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    z-index: 30;
    @include respond-to($breakpoint-lg) {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

.nav__item--lone {
    max-width: 60vw;
    margin-bottom: 24px;
    opacity: 0;
    transform: translateX(-16px);
    &:last-child {
        margin-bottom: 0;
    }
    animation: show-right 0.5s $cubic-out 1s forwards;
    @include respond-to($breakpoint-sm) {
        margin-bottom: 32px;
        max-width: 35vw;
    }
    @include respond-to($breakpoint-lg) {
        max-width: 25vw;
    }
}

.nav__link {
    margin-left: 16px;
    padding: 4px 8px;
    height: 100%;
    background: rgba(254, 254, 254, 0.9);
    font-family: $font-mono;
    transition: all 0.35s $cubic-out;
    transform: translateX(-16px);
    opacity: 0;
    position: relative;
    pointer-events: none;
    span {
        opacity: 0;
    }
}

.nav__button {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid $dgrey;
    background: $main-bkg;
    position: relative;
    &:hover {
        span {
            opacity: 1;
        }
        + .nav__link {
            transform: translateX(0);
            opacity: 1;
            pointer-events: all;
            span {
                opacity: 1;
            }
        }
    }
    span {
        width: 60%;
        height: 60%;
        border-radius: 50%;
        background: $main;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

.nav__button--active {
    span {
        opacity: 1;
    }
}