.content {
  font-size: 16px;
  line-height: 1.618;
  padding-bottom: 56px;
  opacity: 0;
  transform: translateY(-16px);
  > * {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include respond-to ($breakpoint-sm) {
    font-size: 18px;
  }
  @include respond-to($breakpoint-xl) {
    font-size: 22px;
  }
  @include respond-to($bp-4k) {
    font-size: 26px;
    > * {
      margin-bottom: 32px;
    }
  }
  animation: show-down 1s $cubic-out 0.6s forwards;
}

.note__subtitle {
  position: relative;
  margin-top: 20px;
  &:before {
    content: '';
    background: $main;
    position: absolute;
    height: 100%;
    width: 8px;
    left: -40px;
  }
  @include respond-to($breakpoint-sm) {
    margin-top: 60px;
    &:before {
      left: -32px;
    }
  }
  @include respond-to($breakpoint-lg) {
    margin-bottom: 40px;
    &:before {
      width: 35px;
      height: 8px;
      left: 0;
      top: -12px;
    }
  }
  @include respond-to($breakpoint-xl) {
    margin-top: 80px;
    &:before {
      height: 10px;
    }
  }
  @include respond-to($bp-4k) {
    &:before {
      width: 40px;
      top: -16px;
    }
  }
  &:first-child {
    margin-top: 0;
  }
}

.section__subtitle {
  margin-top: 40px;
}

.quote__title {
  margin-bottom: 8px;
  border-bottom: 3px solid $black;
  padding-right: 32px;
  font-weight: 700;
}

.progress {
  background: $blue;
  width: 100vw;
  height: 5px;
  @include respond-to($breakpoint-sm) {
    height: 100vh;
    width: 12px;
  }
}