.queue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue__item {
  width: 48px;
  height: 48px;
  background: $main;
  border-radius: 8px;
  margin-right: 8px;
}

.queue__last {
  opacity: 0;
  animation-name: move-left-in;
  animation-delay: 0.5s;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.queue__first {
  animation-name: move-left-out;
  animation-delay: 1s;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes move-left-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-80px);
    opacity: 0;
  }
}

@keyframes move-left-in {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}